footer {
    padding: 10px;
    background-color: white;
}

.page-footer {
    margin: 0;
    padding: 10px 10px 8px 15px;
    background-color: #dddddd;
    color: #FFFFFF;
}

.page-footer img {
    height: 55px;
}

.banner { background-color: #dddddd; }

.wrapper { width: 50%;
     }

.banner p {
  font-family: "Gentium Basic";
  font-size: 19px;
  text-align: left;
  color: #aaa;
  margin-top: -10px;
  display: block;
 }
.banner img {
  float: left; 
    margin: 5px;
 }
 .banner span {
  padding-top: 50px;
  font-size: 17px;
  color: #FF0000;
  vertical-align:top;
 }
  .banner .ban2 span {
  padding-top: 50px;
  font-size: 17px;
  vertical-align:top;
 }
