<div class="topnav" id="myTopnav">
    <!-- <span class="feature-title">REPORTS</span> -->
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <!-- <a routerLink="/launch" routerLinkActive="active">Launch</a> -->
    <a routerLink="/contact" routerLinkActive="active">Data Processing Log</a>
    <a routerLink="/about" routerLinkActive="active">Data Validation</a>
    <a routerLink="/financialdatareview" routerLinkActive="active">Financial Data Review</a>
    <a routerLink="/contact" routerLinkActive="active">Metadata</a>
    <a routerLink="/about" routerLinkActive="active">Playbook</a>
    <a routerLink="/contact" routerLinkActive="active">Process Manager</a>
    <a routerLink="/about" routerLinkActive="active">Reference Data</a>
    <a routerLink="/contact" routerLinkActive="active">Submission Overlay</a>
    <a routerLink="/about" routerLinkActive="active">User Retention</a>
    <a href="javascript:void(0);" class="icon" (click)="toggleNavBar()">
        <img src="./assets/images/bars.svg" height="17" width="17" alt="">
    </a>
</div>